.wrapper {
  position: relative;
  top: 1rem;
  left: 0;
  /* top: 10rem; */
  font-size: 20px;
  width: 840px;
  max-width: 840px;
  height: 2.4em;
  /* z-index: 1000; */
  /* border: 2px solid red; */
  /* left: 50%; */

  box-sizing: border-box;
  margin: 0em auto;
  /* margin-left: calc(840px / 2 * -1); */
  /* margin-bottom: 2rem; */
  color: #230051;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
}

.wrapper button {
  z-index: 50;
  position: absolute;
  top: 0.4em;
  right: 0.2em;
  font-size: 24px;
  border: 0;
  background: transparent;
}

.icon-wrapper {
  width: 1em;
  height: 1em;
  opacity: 1;
  display: block;
  width: 100%;
  z-index: 50;
  text-align: right;
}

.icon-wrapper svg,
.icon-wrapper path {
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  stroke: hsla(208, 13%, 75%, 0%);
  stroke: transparent;
  fill: hsla(208, 13%, 75%, 100%);
  width: 1em;
  height: 1em;
}

.wrapper button:hover svg,
.wrapper button:hover path {
  fill: #5c6ac4;
  cursor: pointer;
  /* stroke: red; */
}

.wrapper input {
  /* prevent ios input zoom */
  font-size: 18px;
  box-shadow: 0 0 0px 1px hsla(110, 49%, 80%, 30%), 0 0 0 0 transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  border: 0;

  z-index: 30;
  padding: 0.6em;

  box-sizing: border-box;
  padding-left: 2.6em;
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
}

.wrapper input:focus ~ .backdrop {
  background: #5c6ac4;
}

.wrapper input:focus {
  outline: none;
  border-color: #5c6ac4;
  opacity: 1;
}

.content {
  display: flex;
  font-size: 16px;
  align-items: center;
  height: 100%;
  padding: 0;
  z-index: 5;
  position: relative;
}

.selected {
  flex: 1 1;
}

.label-icon {
  width: 0.9em;
  height: 0.9em;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  display: block;
  z-index: 50;
  position: absolute;
  top: 0.75em;
  left: 0.8em;
}

.label-icon svg,
.label-icon path {
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  stroke: hsl(208, 13%, 65%);
  fill: hsl(208, 13%, 65%);
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.wrapper input:focus + .label-icon svg,
.wrapper input:focus + .label-icon path {
  fill: #202e78 !important;
  stroke: #202e78 !important;
  fill: red;
  fill-opacity: 1;
  opacity: 1;
  stroke-opacity: 1;
}

.backdrop {
  position: absolute;
  background-color: hsla(231, 39%, 70%, 50%);
  opacity: 1;
  border: 2px solid transparent;
  transition-property: box-shadow, background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.backdrop::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: linear-gradient(to bottom, white, #f9fafb);
}

.search-help-text {
  position: absolute;
  width: 100%;
  right: 0;
  font-size: 0.6em;
  color: hsl(0, 0%, 60%);
  text-align: right;
  margin-right: 4em;
  top: 1.3em;
  z-index: 100;
  /* background: red; */
}

.no-bottom-border {
  border-bottom: 0px solid transparent;
  padding-bottom: 13px !important;
}
.no-bottom-border input {
  border: 0px;
  /* border-color: red !important; */
}

.bottom-border {
  border-bottom: 2px solid transparent;
}
.fiftypercent {
  opacity: 0.5;
}

/* prevents input losing focus styling when focus is lost BUT
results are still being shown */
.pseudo-focus {
  background: #5c6ac4 !important;
}

.pseudo-focus-icon {
  fill: #202e78 !important;
  stroke: #202e78 !important;
  fill-opacity: 1;
  opacity: 1;
  stroke-opacity: 1;
}
