.wrapper {
  position: relative;
  font-size: 16px;
  width: 100%;
  max-width: 640px;
  height: 2.4em;
  box-sizing: border-box;
  margin: 0em auto;
  color: #230051;
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica,
    sans-serif;
  /* box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.02), 0 1.8px 2.3px rgba(0, 0, 0, 0.01),
    0 3.4px 4.4px rgba(0, 0, 0, 0.05), 0 6px 5.8px rgba(0, 0, 0, 0); */
}
.wrapper button {
  z-index: 50;
  position: absolute;
  right: 0.5em;
  top: 0.9em;
  border: 0;
  background: transparent;
}

.wrapper input {
  /* prevent ios input zoom */
  font-size: 18px;
  box-shadow: 0 0 0px 1px hsla(110, 49%, 80%, 50%), 0 0 0 0 transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.02), 0 1.8px 2.3px rgba(0, 0, 0, 0.01),
    0 3.4px 4.4px rgba(0, 0, 0, 0.05), 0 6px 5.8px rgba(0, 0, 0, 0); */
  opacity: 1;
  border: 0;
  z-index: 30;
  padding: 0.6em;
  box-sizing: border-box;
  padding-left: 2em;
  /* border-radius: 6px; */
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
}

.wrapper input:focus ~ .backdrop {
  /* box-shadow: 0 0 0px 1px hsla(110, 49%, 80%, 50%), 0 0 0 0 transparent; */
  background: #bbe5b3;
  /* border-bottom-width: 0; */
}

.wrapper input:focus ~ .backdrop:after {
  /* box-shadow: 0 0 0px 1px hsla(110, 49%, 80%, 50%), 0 0 0 0 transparent; */
  /* background: #fff; */
  /* border-bottom-width: 0; */
  /* border-bottom: 0; */
}
.wrapper input:focus {
  outline: none;
  border-color: #5c6ac4;
  opacity: 1;
}
.content {
  display: flex;
  font-size: 16px;
  align-items: center;
  height: 100%;
  padding: 0;
  z-index: 5;
  position: relative;
}
.selected {
  flex: 1 1;
}
.label-icon {
  width: 1rem;
  height: 1rem;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
  display: block;
  z-index: 50;
  position: absolute;
  top: 0.75em;
  left: 0.8em;
}
.label-icon svg,
.label-icon path {
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  stroke: hsl(208, 13%, 65%);
  fill: hsl(208, 13%, 65%);
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.wrapper input:focus + .label-icon svg,
.wrapper input:focus + .label-icon path {
  fill: #00044c;
  stroke: #00044c;
  fill-opacity: 1;
  opacity: 1;
  stroke-opacity: 1;
}

.backdrop {
  position: absolute;
  background-color: #c4cdd5;
  opacity: 1;
  border: 2px solid transparent;
  transition-property: box-shadow, background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backdrop::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: linear-gradient(to bottom, white, #f9fafb);
  /* border-radius: 4px; */
}

.nbb {
  border-bottom: 0px solid transparent;
  padding-bottom: 12px !important;
}
.nbb input {
  border: 0px;
  border-color: red !important;
}
.bb {
  border-bottom: 2px solid transparent;
}
/* need to fade in */
.results-list {
  box-shadow: 0 0 0px 1px hsla(110, 49%, 80%, 50%), 0 0 0 0 transparent;
  box-shadow: 0 0 0px 1px hsla(110, 49%, 80%, 50%), 0 0 0 0 transparent;
  position: absolute;
  border: 2px solid hsl(208, 13%, 85%);
  border-top: 2px;
  border-left-color: #bbe5b3;
  border-right-color: #bbe5b3;
  border-bottom-color: #bbe5b3;
  background: hsla(110, 49%, 100%, 90%);
  /* width: calc(100% + 10px); */
  width: 100%;
  margin: 0 auto;
  max-width: 640px;
  /* margin-top: 30px; */
  will-change: opacity;
  transition: opacity;
  /* transform: perspective(500px) translateZ(100px); */
  /* transform: perspective(1000px) translateZ(20px); */
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
  box-sizing: border-box;
  /* box-shadow: 0px 4px 3px hsla(0, 0%, 100%, 0%), 0 0.7px 1px rgba(0, 0, 0, 0.01),
    0 1.8px 2.3px rgba(0, 0, 0, 0.01), 0 3.4px 4.4px rgba(0, 0, 0, 0.05),
    0 6px 5.8px rgba(0, 0, 0, 0); */
  /* box-shadow: 2px 3px 1px 0px hsla(168, 40%, 15%, 10%); */
}

/* move this to options list*/
.results-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-radius: 5px; */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: 10px;
}

.results-list li {
  border-bottom: 1px solid #eee;
  /* border-radius: 10px; */
}
.results-list ul li:hover {
  cursor: pointer;
  /* color: #ff0000; */
  background: #e3f1df;
}
.results-list ul li:last-child {
  border-bottom: 0px;
  /* background: #fff; */
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-radius: 3px;
  /* border: 1px solid red; */
  /* background: yellow; */
}

.results-item {
  padding: 0.5em 0.7em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 1.2em;
  align-items: center;
  /* border-bottom-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
}
.results-item div {
  width: 50%;
  height: 1em;
  font-size: 1em;
}

.results-item:hover {
  /* background: green; */
}
.item-name {
  font-weight: 600;
}
.item-category {
  font-weight: 300;
}
.item-url {
  text-align: right;
  font-family: monospace;
  /* align-self: center; */
}
