.wrapper {
  max-width: 640px;
  margin: 0 auto;
  margin-top: 6em;
  /* padding: 0 1em; */
  margin-bottom: 4em;
}

.wrapper h1 {
  /* color: #50b83c; */
  /* color: #212b36; */
  color: #202e78;
  /* font-family: monospace; */
  text-align: center;
}

.header {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  top: 0;
  z-index: 1000;
  /* background: #ccc; */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  opacity: 0.95;
  text-align: center;
  margin-bottom: 1em;
}

.header > * {
  margin: 1em;
  margin-left: 0;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  /* line-height: 1.5em; */
}

.header img {
  box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.02), 0 1.8px 2.3px rgba(0, 0, 0, 0.1),
    0 3.4px 4.4px rgba(0, 0, 0, 0.05), 0 6px 5.8px rgba(0, 0, 0, 0);
  opacity: 0.3;
  filter: grayscale(0.5);
  display: none;
}

.header h1 {
  color: #230051;
  font-weight: 900;
  letter-spacing: -0.01em;
}

.content {
  padding: 0;
}

.lists {
  border: 1px solid hsl(0, 0%, 90%);
  padding: 1em;
  padding-top: 0;
  /* box-shadow: 0 0.7px 1px rgba(0, 0, 0, 0.02), 0 1.8px 2.3px rgba(0, 0, 0, 0.01),
    0 3.4px 4.4px rgba(0, 0, 0, 0.05), 0 6px 5.8px rgba(0, 0, 0, 0); */
  border-radius: 0px;
  margin-top: 1em;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.lists h3 {
  margin: 0.9em 0;
  color: #202e78;
}

.lists ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lists li {
  height: 1.5em;
  font-weight: 500;
}

/* .lists > div {
  width: 33%;
} */

.lists a,
.list a:active,
.lists a:visited {
  text-decoration: none;
  color: #5c6ac4;
}

.lists a:hover {
  color: #202e78;
}

.dim-lists {
  opacity: 0.3;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}
