body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #00044c;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  appearance: none;
}

input {
  position: relative;
  display: block;
  flex: 1 1 0%;
  width: 100%;
  min-width: 0;
  /* min-height: control-height(); */
  margin: 0;
  /* padding: control-vertical-padding() $backdrop-horizontal-spacing; */
  background: none;
  border: border(transparent);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  appearance: none;
}
